@import "default.css";

body {
  margin: 0;
  color: #fff;
  font-family: "Georgia",sans-serif;
  background: url("./assets/images/noise_transparent.png"), radial-gradient( farthest-corner at 40px 40px,#5B483A -40%, #262425 100%);
  /* background: radial-gradient( to bottom right,#5B483A -40%, #262425 100%), url("./assets/images/noise_transparent.png"); */
  /* background: radial-gradient(farthest-corner at 40px 40px,rgba(91, 72, 58, 1), rgba(38, 36, 37, 1)), url("./assets/images/noise_transparent.png"); */
  /* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),url("./assets/images/noise_transparent.png"); */
  /* background: #5B483A;
  background: linear-gradient(to bottom right, rgba(91, 72, 58, 0.5), rgba(38, 36, 37, 0.5));
  background-image: url("./assets/images/noise_transparent.png"); */
  /* background: linear-gradient(to bottom right, #5B483A, #262425); */

}

.body-scroll-disable {
  width: 100%;
  height: 100;
  overflow: hidden;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.popup {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(41, 41, 41, 0);
z-index: 10;
opacity: 0;
visibility: hidden;
transition: all linear 0.4s;
}

.popup-show {
  opacity: 1;
  visibility: visible;
  background-color: rgba(41, 41, 41, 0.6);
}

.popup-body {
  text-align: right;
}

.popup-close {
  position: relative;
  left: 50px;
  width: 52px;
  height: 52px;
  color: #000;
  font-size: 12px;
  font-weight: 700px;
}

.popup-close:hover {
  background-color: var(--color-primary);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

.popup-content {
  width: 900px;
  height: 500px;
  overflow: hidden;
  background-color: #FAFAFA;
  border-radius: 9px;
  color: #000000;
  text-align: start;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 0.06em;
}

.popup-item {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.popup-item-image {
  width: 500px;
  height: 500px;
}

.popup-content-text {
  padding: 50px 20px 50px 30px;
  max-width: 400px;
}

.popup-pet-name {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  margin-bottom: 10px;
}

.popup-pet-description {
  margin-bottom: 40px;
}

.popup-pet-species {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 40px;
}

.popup-pet-specificity {
  padding-left: 12px !important;
}

.popup-pet-spec {
  position: relative;
  margin-bottom: 12px;
  /* list-style: circle; */
}

.popup-pet-spec::before {
  position: absolute;
  content: '';
  left: -10px;
  top: 40%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-primary);
}

.popup-pet-spec span {
  font-weight: 700;
}

.header {
  padding-top: 30px;
  /* background: radial-gradient(#5B483A 100%, #262425 100%); */
  /* background-image: url("./assets/images/noise_transparent.png"); */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo h1{
  color: var(--color-primary);
  font-size: 32px;
  line-height: 1.1;
  margin-bottom: 10px;
  letter-spacing: 0.06em;
}

.header-logo p{
  font-family: "Arial",sans-serif;
  padding-left: 5px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.burger {
  display: none;
  position: relative;
  padding: 10px 0;
  width: 30px;
  height: 22px;
  /* background-color: var(--color-primary); */
  transition: all linear 0.3s;
} 

.burger span,.burger span::before, .burger span::after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
}

.burger span::before {
  top: -10px;
}

.burger span::after{
  bottom: -10px;
}

.navigation-list {
  display: flex;
  gap: 10px 35px;
  font-family: "Arial",sans-serif;
  color: #CDCDCD;
}

.navigation-item {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

.navigation-link {
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
  transition: all linear 0.3s;
  color: #CDCDCD;
}

.navigation-link:hover {
  border-color: var(--color-primary);
  color: #fff;
}

.navigation-link-active {
  border-bottom: 3px solid var(--color-primary);
  color: #fff;
}

/* .navigation-link::after {
  opacity: 0;
  content: " ";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
  transition: all linear 0.3s;
} */

/* .navigation-item:hover .navigation-link::after {
  opacity: 1;
} */

/* .navigation-link-active::after {
  content: " ";
  opacity: 1;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
 } */

.not-only {
  /* background: radial-gradient(#5B483A 100%, #262425 100%); */
  padding-top: 90px;
  /* background-image: url("./assets/images/noise_transparent.png"); */
}

.not-only-content {
  display: flex;
  justify-content: space-between;
}

.not-only-info{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 165px;
  row-gap: 42px;
}

.not-only-title {
  max-width: 310px;
  font-size: 44px;
  line-height: 1.3;
  font-weight: 400;
}

.not-only-text {
  max-width: 460px;
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  color: #CDCDCD;
}


.not-only-button {
  width: 207px;
  height: 52px;
  background-color: var(--color-primary);
  border-radius: var(--button-border-radius);
  color: #292929;
  font-size: 17px;
  line-height: 22px;
}

.not-only-button:hover {
  background-color: var(--color-highligh-button);
}

.not-only-image {
  max-width: 698px;
  max-height: 728px;
}

.not-only-image img {
  width: 100%;
  height: 100%;
}

.about {
  padding-top: 80px;
  background-color: #fff;
  padding-bottom: 100px;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  /* column-gap: 120px; */
  color: var(--color-dark-text);
}

.about-image {
  display: block;
}

.about-info {
  display: flex;
  max-width: 430px;
  flex-direction: column;
  /* margin-top: 15px; */
  margin-left: 120px;
  row-gap: 25px;
}

.about-title {
  max-width: 370px;
  color: var(--color-dark-title);
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
}

.about-text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
}

.our-friends {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #F6F6F6;
}

.our-friends-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  row-gap: 60px;
  flex: 1 1 auto;
  color: var(--color-dark-title)
}

.our-friends-title {
  max-width: 400px;
  font-size: 35px;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 0.06em;
}

.our-friends-carousel {
  position: relative;
  padding: 0 105px;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  column-gap: 50px;
  width: 100%;
  /* padding: 0 5px; */
  /* padding: 0 105px; */
  overflow: hidden;
}

.our-friends-list {
  position: relative;
  display: flex;
  left:0;
  /* overflow-x: hidden; */
  /* margin: 0 auto; */
  /* justify-content: center; */
    justify-content: space-between;
    flex: 1 1 auto;
    font-size: 0px;
    width: 100%;
    height: 437px;
    /* max-width: 990px; */
    /* max-width: 1200px;
    width: 100%; */
    /* padding: 0 105px; */
  /* width: 82%; */
  /* flex-wrap: wrap; */
  /* column-gap: 90px; */
   /* column-gap: 10%; */
   /* transform: translate(0); */
   transition: all linear 0.5s;
}

.previous-slider {
  position: absolute;
  transform: translate(-110%);
}


.next-slider {
  position: absolute;
  transform: translate(110%);
}

/* .our-friends-list::after {
  content: "";
  background-color: #F6F6F6;
  position: absolute;
  right: -70px;
  top: 0;
  height: 100%;
  width: 50px;
  z-index: 5;
} */

.our-friends-card {
  display: flex;
  flex-direction: column;
  /* max-width: 270px; */
  /* width: 100%; */
  /* margin-right: 90px; */
  width: 270px;
  max-height: 435px;
  padding-bottom: 30px;
  row-gap: 30px;
  border-radius: 9px;
  align-items: center;
  background: #FAFAFA;
  cursor: pointer;
  transition: all linear 0.3s;
}

/* .our-friends-card:nth-child(3n) {
  margin-right: 140px;
} */
.our-friends-card-image {
  /* width: 100%; */
}

.our-friends-card-buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  /* max-width: 1200px; */
  /* width: auto; */
  width: 121%;
  top: 44%;
}

.card-button-left ,.card-button-right{
  /* position: relative; */
  position: absolute;
  width: 52px;
  height: 52px;
  top: 44%;
  border-radius: 100px;
  border: 2px solid var(--color-primary);
  cursor: pointer;
  transition: all linear 0.3s;
}

.card-button-left {
  left: 0;
  /* margin-right: auto ; */
}

.card-button-right{
  right: 0;
  /* margin-left: auto ; */
}

.card-button-left:hover ,.card-button-right:hover {
  background-color: var(--color-highligh-button);
  border-color: var(--color-highligh-button);
}

.our-friends-card:hover  {
  background: #fff;
  transform: scale(1.01,1.01);
}

.our-friends-card:hover button {
  background-color: var(--color-highligh-button);
  border-color: var(--color-highligh-button);
}

.our-friends-card-title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
}

.our-friends-card-button {
  width: 187px;
  height: 52px;
  font-size: 17px;
  line-height: 1.2;
}

.our-friends-card-button:hover {
  background-color: var(--color-highligh-button);
  border-color: var(--color-highligh-button);
}

.our-friends-button {
  width: 261px;
  height: 52px;
  background-color: var(--color-primary);
}

.our-friends-button:hover {
  background-color: var(--color-highligh-button);
  border-color: var(--color-highligh-button);
}

.help {
  padding: 80px 0 100px 0;
  background-color: #fff;
}

.help-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
  color: var(--color-dark-title);
}

.help-title {
  max-width: 310px;
  text-align: center;
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 1.3;
}


.help-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 85px;
  padding-right: 85px;
  column-gap: 120px;
  row-gap: 55px;
}

.help-icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.help-icon-title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
}

.in-addition {
  background-color: #f6f6f6;
  padding: 75px 0 100px 0;
}

.in-addition-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  color: var(--color-dark-title);
}

.in-addition-article {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 20px;
}

.in-addition-title {
  max-width: 300px;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
}

.in-addition-text {
  max-width: 320px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 0.06em;
}

.in-addition-card-number {
  display: block;
  position: relative;
  padding: 10px 10px 10px 60px;
  width: 349px;
  height: 43px;
  border-radius: 9px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: var(--color-dark-text);
  background-color: var(--color-primary);
  transition: all linear 0.3s;
}

.in-addition-card-number:hover {
  background-color: var(--color-highligh-button);
}

.in-addition-card-number::before {
  position: absolute;
  content:  url("./assets/svg/credit-card.svg");
  top: 10px;
  left: 20px
}

.in-addition-copyrights {
  max-width: 380px;
  color: #B2B2B2;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.footer {
  padding-top: 40px;
  /* background-image: url("./assets/images/noise_transparent.png"); */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer-container h2{
  max-width: 280px;
  font-size: 35px;
  line-height: 1.2;
  letter-spacing: 0.06em;
}

.footer-container a {
  display: block;
  position: relative;
  padding-left: 60px;
  font-size: 20px;
  /* line-height: 1.15; */
  color: var(--color-primary);
  cursor: pointer;
  transition: all linear 0.3s;
}

.footer-container a:hover {
  filter: brightness(1.2);
}

.questions, .visit {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  row-gap: 35px;
  max-width: 300px;
  letter-spacing: 0.06em;
}

.questions {
  row-gap: 45px;
}

/* .visit {
  margin-left: 160px;
} */

/* .questions-title, .visit-title {
  line-height: 1.3;
} */

.questions-email::before {
  position: absolute;
  content: url("./assets/svg/mail.svg");
  top: 0px;
  left: 0px;
}

.questions-telephone::before {
  position: absolute;
  content: url("./assets/svg/phone.svg");
  top: 0px;
  left: 0px;
}

.visit a {
  padding-left: 40px;
}

.visit-location-address::before {
  position: absolute;
  content: url("./assets/svg/pin.svg");
  top: 12%;
  left: 0px;
}

@media screen and (max-width: 1079px) {
  .popup-content {
    width: 630px;
    height: 350px;
  }

  .popup-item-image {
    width: 350px;
    height: 350px;
  }

  .popup-content-text {
    max-width: 310px;
    padding: 10px 11px 38px 11px;
  }

  .popup-pet-species {
    margin-bottom: 20px;
  }

  .popup-pet-description {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .popup-pet-spec {
    margin-bottom: 6px;
  }

  .about-container, .in-addition-container {
    flex-direction: column;
    align-items: center;
  }

  .our-friends-carousel {
    padding: 0 64px;
    overflow-x: hidden;
    max-width: 708px;
  }

  .our-friends-list {
    /* width: 580px; */
    /* overflow-x: hidden; */
    justify-content: start;
    column-gap: 40px;
    /* max-width: 992px; */
    /* padding: 0 94px; */
    /* overflow-x: auto; */
    /* column-gap: 40px; */
  }

  .our-friends-card {
    /* margin: 0 5px; */
  } 

  /* .our-friends-card:nth-child(2n){
    margin-right: 90px;
  } */

  .help-icon-list {
    column-gap: 60px;
    /* justify-content: space-between; */
    padding-left: 39px;
    padding-right: 39px;
  }

  .help-icon-item {
    max-width: 170px;
    width: 100%;
  }

  .in-addition-article {
    order: -1;
    margin-bottom: 60px;
  }


  .footer {
    padding-top: 15px;
  }

  .footer-container {
    row-gap: 70px;
  }

  .footer-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (max-width: 769px) {
  .wrapper {
    max-width: 708px;
  }

  .popup-content {
    width: 240px;
    height: auto;
    padding: 10px;
  }
  .popup-close {
    left: 30px;
  }
  .popup-content-text {
    text-align: center;
  }
  .popup-pet-description {
    text-align: justify;
  }

  .popup-pet-specificity {
    text-align: left;
  }

  .popup-item-image {
    display: none;
  }

  .popup-content-text {
    max-width: 310px;
    padding: 0;
  }

  .popup-pet-description {
    margin-bottom: 24px;
  }

  
  .not-only-content {
    flex-direction: column;
    align-items: center;
  }

  .not-only {
    padding-top: 60px;
  }

  .not-only-info{
    margin-top: 0;
    row-gap: 42px;
    margin-bottom: 100px;
  }

  .not-only-button {
    align-self: center;
  }

  .not-only-image {
    max-width: 569px;
    max-height: 593px;
    /* width: 100%;
    height: 100%; */
    margin-left: 140px;
  }

  .about-info {
    order: -1;
    margin-left: 0;
    margin-bottom: 80px;
  }
  
  .our-friends-carousel {
    max-width: 708px;
  } 

  .our-friends-list {

    /* column-gap: 20px; */
    /* align-items: center;
    justify-content: start; */
    /* overflow-x: auto; */
  }
  
  /* .our-friends-card:nth-child(2n){
    margin-right: 80px;
  }
  
  .our-friends-card:nth-child(3n){
    margin-right: 40px;
  } */

  .our-friends-card {
    width: 270px;
    /* margin-right: 40px; */
  }



  .footer-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (max-width: 767.9px) {
  body {
    overflow-x: hidden;
  }
  
  .header-content {
    overflow-x: hidden;
  }

  .navigation {
    /* display: none; */
      position: absolute;
      overflow: hidden;
      width: 0%;
      /* width: 100%; */
      height: 100vh;
      right: -100%;
      /* right: 0; */
      top: 0;
      padding-top: 250px;
      background: url("./assets/images/noise_transparent.png"), #292929;
      /* transform: translateX(100%); */
      transition: all linear 0.3s;
  }

  .navigation-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 40px;
  }

  .navigation-link {
    font-size: 32px;
    line-height: 1.6;
  }

  .show-navigation {
    right: 0;
    width: 100%;
    /* transform: translateX(0); */
  }

  .burger {
    display: block;
    position: relative;
    z-index: 11;
  }

  .burger-active {
    transform: rotate(90deg);
  }

  .body-lock {
    margin: 0; 
    height: 100%; 
    overflow: hidden
  }
}

@media screen and (max-width: 740px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .not-only-title {
    padding: 0 20px;
    text-align: center;
    font-size: 25px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.06em;
  }

  .not-only-text{
    text-align: center;
  }

  .not-only-image{
    margin-top: 4px;
    max-width: 260px;
    max-height: 271px;
    margin-left: 40px;
  }

  .about {
    padding-top: 42px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 42px;
  }
  .about-info {
    row-gap: 24px;
    margin-bottom: 42px;
  }

  .about-title {
    font-size: 25px;
    text-align: center;
  }

  .about-text {
    text-align: justify;
  }

  .about-image {
    width: 260px;
    height: 353px;
  }

  .our-friends-carousel {
    padding: 0 60px;
    /* max-width: 100%; */
    max-width: 390px;
    text-align: center;
  }

  .card-button-left, .card-button-right{
    /* display: block; */
    /* width: 45%; */
    /* position: relative;
    margin-top: 20px; */
    /* text-align: right; */
  }

  /* .card-button-right {
    margin-left: 75px;
  } */
  
  /* .our-friends {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .our-friends-title {
    font-size: 25px;
  }
  
  .our-friends-container {
    row-gap: 40px;
  }

  .our-friends-carousel {
    padding: 0 15px;
  }

  .card-button-left, .card-button-right{
    position: relative;
    margin-top: 20px;
  }
  .card-button-left {
    margin-left: 43px;
  }

  .card-button-right {
    margin-left: 75px;
  }

  .our-friends-button {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.3;
    letter-spacing: 0.06em;
  } */

  .help {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .help-container {
    row-gap: 42px;
  }

  .help-title {
    font-size: 25px;
  }

  .help-icon-list {
    padding-left: 5px;
    padding-right: 5px;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: start;
  }

  .help-icon-item {
    max-width: 130px;
    row-gap: 20px;
  }

  .help-icon-image {
    max-height: 50px;
  }

  .help-icon-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.06em;
  }

  .in-addition {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  
  .in-addition-article {
    padding: 0 13px;
    margin-bottom: 42px;
  }
  .in-addition-title {
    font-size: 25px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  .in-addition-text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.1px;
  }

  .in-addition-card-number {
    width: 281px;
    font-size: 15px;
    line-height: 1.1;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .in-addition-card-number::before {
    left: 15px;
  }

  .in-addition-copyrights {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
  }
  
  .in-addition-image {
    width: 260px;
    height: 135px;
  }

  .footer-container {
    row-gap: 40px;
  }

  .footer-container h2{
    font-size: 25px;
    text-align: center;
  }

  .questions {
    padding:  20px 11px 0 11px;
    align-items: center;
  }

  .visit {
    padding-top: 10px;
    row-gap: 40px;
  }

  .visit-title {
    padding-left: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
  }

  .visit-location-address {
    padding-top: 5px;
  }

  .footer-image {
    width: 260px;
    height: 269px;
  }
}

@media screen and (max-width: 425px) {
  .our-friends {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .our-friends-title {
    font-size: 25px;
  }
  
  .our-friends-container {
    row-gap: 40px;
  }

  .our-friends-carousel {
    padding: 0 15px;
    max-width: 300px;
  }

  .card-button-left, .card-button-right{
    position: relative;
    margin-top: 20px;
  }
  .card-button-left {
    /* margin-left: 43px; */
  }

  .card-button-right {
    margin-left: 75px;
  }

  .our-friends-button {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.3;
    letter-spacing: 0.06em;
  }
}